{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules":{
    "linebreak-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", 150],
    "react/prop-types": 0,
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      },
      "allowChildren": false
    }]
  }
}
